/* sharing styles */

body {
  margin: 0;
}

* {
  font-family: "Mulish", sans-serif;
}

.text-color-primary {
  color: #424247;
}

.main-logo-color {
  color: #ff5400;
}

.btn-primary {
  border: none;
  border-radius: 8px;
  background: #ff5400;
  padding: 16px 32px;
  color: #fff;
}

/* header styles  */
.section-title {
  display: flex;
  align-items: center;
}

.section-title img {
  width: 40px;
  height: 40px;
}

.section-title h1 {
  color: #131318;
  font-size: 2.1rem;
  font-weight: 800;
  margin-left: 16px;
}

.span-in {
  /* color: #131318; */
  font-size: 2.1rem;
  font-weight: 800;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 100px;
}

nav ul {
  display: flex;
}
nav ul li {
  list-style: none;
  margin-left: 44px;
}
nav ul li a {
  text-decoration: none;
}
nav ul li:hover {
  color: #ff5400;
}

.header_item {
  display: flex;
  justify-content: space-between;
  font-size: 1.1rem;
  font-weight: 400;
  cursor: pointer;
  color: #424247;
}

nav li:last-child {
  display: none;
}

.banner-container {
  background-image: url("../Images/Group\ 13\ .png");
  background-position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 95vh;
  margin: 30px 100px;
  position: relative;
  z-index: 0;
display: flex;
flex-direction: column;
align-items: center;
text-align: center;

}

.banner-container::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;

  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#121216+0,131318+100&0.34+0,0+91 */
  background: linear-gradient(
    to bottom,
    rgba(18, 18, 22, 0.34) 0%,
    rgba(19, 19, 24, 0) 91%,
    rgba(19, 19, 24, 0) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  z-index: -1;
}

.banner-content {
 margin: 50px 60px;
}
.banner-content h2 {
  color: #fff;
  font-size: 4rem;
  font-weight: 800;

  margin-bottom: 30px;
}

.banner-content p {
  color: #fff;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
 margin-bottom: 0;
 line-height: 25px;
}

.banner-background {
  border-radius: 10px;

  background: rgba(255, 255, 255, 0.3);
  padding: 10px 20px;

}

.banner-form {
  display: flex;
  justify-content: space-between;
 gap: 30px;
}

.banner-form input {
  border-radius: 8px;
  border: none;
  /* padding: 5px 15px; */
  background-color: #fff;
  color: rgba(19, 19, 24, 0.5);
  font-size: 1rem;
  padding: 16px 32px;

  font-weight: 400;
  
}

.banner-form .btn-when {
  border-radius: 8px;
  border: none;
  padding: 16px 32px;
  background-color: #fff;
  color: rgba(19, 19, 24, 0.5);
  font-size: 1rem;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  gap: 50px;
 
}

.banner-form button i {
  margin-right: 5px;
}

/* popular tours styles */



.popular-tours-container{
  margin: 60px 80px;
  display: flex;
  justify-content: space-between;
  gap: 60px;

}


.popular-tours-content h3{
  color: #131318;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 800;
 
}

.popular-tours-content p{
  color: rgba(19, 19, 24, 0.70);
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: 26px; 
}

.popular-tours-content ul{
  color: rgba(19, 19, 24, 0.70);
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: 26px; 
}

.destination-container{
  margin: 80px 80px;
}

.destination-content h3{
  color: #131318;
  text-align: center;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 800;
  margin-bottom: 10px;

}

.destination-content p{
  color: rgba(19, 19, 24, 0.70);
text-align: center;
font-size: 1;
font-style: normal;
font-weight: 400;
line-height: 26px; 
margin-bottom: 80px
}


.img-1{
  grid-area: img-1;
}
.img-2{
  grid-area: img-2;
}
.img-3{
  grid-area: img-3;
}
.img-4{
  grid-area: img-4;
}
.img-5{
  grid-area: img-5;
}
.img-6{
  grid-area: img-6;
}
.img-7{
  grid-area: img-7;
}


.destination-img {
  display: grid;
  gap: 20px; 
  grid-template-areas: 
  "img-1  img-1  img-1  img-2  img-2  img-2"
  "img-3  img-3  img-4  img-4  img-4   img-5"
  "img-6  img-6  img-7  img-7  img-7  img-7";

  
  
}

.imgs{
  position: relative;
}


.destination-img-container img{
  width: 100%;
  height: 100%;
 
}





.destination-img p {
  position: absolute;
  content: '';
  left: 40%;
  top: 40%;
  transform: translate(-40% ,-40%);
color: #fff;
font-size: 1.6rem;
font-style: normal;
font-weight: 800;
 
}


/* why choose styles */
.why-choose-section{
  margin: 30px 80px;
}

.why-choose-container{
  width: 100%;
}

.why-choose-container h3{
  color: #131318; 
  text-align: center;
font-size: 2.2rem;
font-style: normal;
font-weight: 800;
margin-bottom: 20px;

}

.why-choose-container p{
  color: rgba(19, 19, 24, 0.70);
  text-align: center;

font-size: 1rem;
font-style: normal;
font-weight: 400;
/* margin: 20px 180px; */

} 

.why-choose-section1{
  margin-top: 50px;
}


.service-color-1{
  border-radius: 16px;
border: 1px solid rgba(251, 181, 99, 0.20);
background: rgba(251, 181, 99, 0.05);
padding: 20px 40px    ;


}


.service-color{

  border-radius: 16px;
  border: 1px solid rgba(41, 206, 246, 0.20);
  background: rgba(41, 206, 246, 0.05);
  padding: 20px 40px   ;
}


.service-color-2{
  padding: 20px 45px ;
  border-radius: 16px;
  border: 1px solid rgba(233, 68, 68, 0.20);
  background: rgba(233, 68, 68, 0.05);
}
.why-choose-service h3{
  color: #131318;
font-size: 1.5rem;
font-style: normal;
font-weight: 800;
margin-bottom: 10px;

}

.why-choose-section{
  margin: 50px 80px;
}
.why-choose-service p{
  color: #5A5A5D;
font-size: 1rem;
font-weight: 400;
}

.choose-grid-1{
  grid-area: choose-grid-1;
}
.choose-grid-2{
  grid-area: choose-grid-2;
}
.choose-grid-3{
  grid-area: choose-grid-3;
}
.why-choose-section1{
  display: grid;
  grid-template-areas: 
  "choose-grid-1 choose-grid-1 choose-grid-2 choose-grid-2"
  "..choose-grid-3 choose-grid-3..";

  gap: 20px;

}


.simple-container1{
  display: flex;
  justify-content: space-between;
  margin: 0 80px;
  gap: 60px;
  
}

.simple-container .simple-video{
  width: 100%;
 
}

.simple-conten h3{
  color: #131318;
font-size: 2rem;
font-style: normal;
font-weight: 800;
margin-bottom: 20px;

}
.simple-conten p{
  color: #5A5A5D;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 20px;

}

.simple-conten ul li{
  color: #131318;

font-size: 1rem;
font-style: normal;
font-weight: 700;
margin-bottom: 20px;

}

.travel-container{
  margin: 60px 80px;
}

.travel-section {
  width: 100%
}


.travel-section{
  display: flex;
  justify-content: space-between;
  gap: 70px;
}

.newsletter h3{
  color: #131318;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 800;
}

.newsletter p{
  color: #5A5A5D;

font-size: 1rem;
font-style: normal;
font-weight: 400;


}

.newsletter hr{
  color: rgba(19, 19, 24, 0.10);
  /* color: rebeccapurple; */
  margin-bottom: 20px;
  

}

.newsleatter-form input{
  padding: 20px 25px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  border: none;
background: rgba(19, 19, 24, 0.05);
margin-bottom: 20px;
width: 350px;
height: 20px;


}

.btn-style{
  width: 100%;
}

.travel-img{
  position: relative;
}

.newsletter-tag{
  border-radius: 6px;
background: #FF5400;
width: 30%;
padding: 10px;
position: absolute;
right: 2%;
bottom: 20%;
transform: rotate(-45deg);

}

.footer-container{
  background-color: #5A5A5D;
  padding: 150px;
}


@media screen and (max-width: 576px) {
  .header_item{
    display: none;
  }

nav{
 margin: 0 30px;
}

  nav li:last-child {
    display: block;
  }
  .banner-container {
    width: 95%;
    height: 100%;
    margin: 0 auto;
    padding-bottom: 50px ;
    border-radius: 4px;
  }
.banner-form{
  flex-direction: column;
 
}


.banner-background {
  width: 80%;
  margin: 0 20px;
}

.banner-content h2{
  font-size: 50px;
}
.popular-tours-container{
margin: 20px 20px;
  flex-direction: column;
  
}
.popular-tours-content{
  margin: 15px;
}

.popular-tours-img img{
  width: 100%;
  

}
.destination-container{
  margin: 60px 10px;
}

.destination-img-container{
  width: 100%;
}

.destination-img{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.why-choose-section{
  margin: 0 10px;
}

.why-choose-section1{
  display: flex;
  flex-direction: column;
}


.simple-container1{
  flex-direction: column;
  margin: 20px;
}

.travel-section{
  /* display: flex; */
  flex-direction: column;
}
.travel-container{
  margin: 20px;
}







}